#radarPanel {
	-fx-background-color: black;
}

.Quadrillage {
	-fx-stroke-width: 1;
	-fx-fill: #00000000;
	-fx-stroke: #15431dFF;
}

.Sonde {
	-fx-stroke-width: 2;
	-fx-stroke: #19b83eFF;
}

.Informations {
	-fx-text-fill: #9a9797FF;
}